a:hover {
    color: #FF9C01 !important;
}

.nav {
    font-family: 'Open Sans', sans-serif;
}

.nav a {
    color: #5a5a5a;
    font-size: 12px;
    font-weight: 600;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

.nav li {
    display: inline;
}

.nav .current {
    color: #B4DC00;
}

#header_home {
    background-image: url('http://upload.wikimedia.org/wikipedia/commons/7/76/Google_Glass_detail.jpg');
}

#header_sns {
    background-image: url('http://social.cs.tut.fi/img/slides/cafeteria3.png');
}

#header_prog {
    background-image: url('http://social.cs.tut.fi/img/slides/cafeteria3.png');
}

.jumbotron {
    height: 384px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1150px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.jumbotron .container {
    position: relative;
    padding-left: 30px;
}

.jumbotron h1 {
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 10px;
}

.jumbotron p {
    font-size: 20px;
}

#content_home {
    padding-top: 20px;
}

.content {
    background-color: #fcfcfc;
    padding-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
}

.content h3 {
    font-size: 18px;
    font-weight: bold;
}

.content a {
    color: #00b0ff;
    text-decoration: none;
}

th, td {
    padding-left: 5px;
}